PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
AWS_BUCKET_NAME=pdf-pipeline-dev-pdf-uploads
  
TABLE_NAME=UserDocuments

GEMINI_API_KEY=

PINECONE_API_KEY=
PINECONE_INDEX=pdf-documents
JINA_API_KEY=
